body {
    background-color: black;
}

h1{
    color: aqua;
    margin-top: 100px;
    margin-bottom: none;
    margin-left: 230px;
}

h2{


    color: whitesmoke;
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 80px;
}

h4{
    color: aqua;
    margin-left: 100px;
}


.profile{
    display: block;
    border-radius: 300%;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

.sobre{
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 100px;
}

ul {
    color: bisque;
    margin-left: 80px;
    margin-bottom: 200px;
}

a {
    color: black;
    font-size: 50px;
    border-radius: 20px;
    text-decoration: none;
}

button{

    background: red;
    margin-left: 100px;
    border-radius: 10px;
}


