body {
    background-color: black;
}

h1{
    color: #556B2F;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 5px;
}

h2{


    color: #808000;
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 60px;
    text-align: center;
}

h4{
    color:  #808000;
    margin-left: 100px;
}


.profile{
    display: block;
    border-radius: 300%;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}



#trybe{
    color: #2E8B57;
}

ul {
    color: bisque;
    margin-left: 80px;
    margin-bottom: 100px;
    color: #808080;
}

a {
    
    
    
    
    
    
}

/*Aqui stiliza o botao sobre*/

#btprof{
    display: block;
    background: #808000;
    color: black;
    margin-left: 80px;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 5px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 50px;
    
}

#bnt-inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    background-color: #808000;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;

}


.part1{
    width: 40%;
    display: inline-block;
    padding: 0px;
    background-color: black;
    width: 40%;
}

.part2{
    width: 40%;
    display: inline-block;
    padding: 0px;
    background-color: black;
    width: 50%;
    margin-top: 0%;
}

.sobre{
    color: #808080;
    font-size: 20px;
    margin-left: 70px;
    text-align: center;
}



.part2 img{
    width: 80%;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    float: right;
}



.tecnologias{
    display: inline-block;
    width: 100%;
}

.tecnologias img{
    display: inline-block;
    width: 300px;
}

#html{
    margin-left: 178px;
}

.apresentacao{
    background-color: #1C1C1C;
}


